<h1 class="display-4 font-weight-normal" style="text-align: center;">
  Mars
</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      Deimos
    </div>
    <div class="col-md-9">
      <input type="text" placeholder="input in format hours:minute" style="width: 60%;" #inputDeimos>
    </div>
  </div>
  <div class="row">
      <div class="col-md-3">
        Phobos
      </div>
      <div class="col-md-9">
        <input type="text" placeholder="input in format hours:minute" style="width: 60%;" #inputPhobos>
      </div>
    </div>
    <button class="btn-success" (click)="calculate(inputDeimos,inputPhobos)">Calculate</button>
    <h2 style="text-align: center; background-color: #c5e1a5;">{{calculatedMinutes}}</h2>
</div>